<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.common.district.bpm.dao.BpmInstanceNotePeopleMapper" >
  <resultMap id="BaseResultMap" type="com.common.district.bpm.model.BpmInstanceNotePeople" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="instance_note_id" property="instanceNoteId" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="finish" property="finish" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, instance_note_id, user_name, user_id, finish
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pub_bpm_instance_note_people
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pub_bpm_instance_note_people
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.common.district.bpm.model.BpmInstanceNotePeople" >
    insert into pub_bpm_instance_note_people (id, instance_note_id, user_name, 
      user_id, finish)
    values (#{id,jdbcType=BIGINT}, #{instanceNoteId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{finish,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.common.district.bpm.model.BpmInstanceNotePeople" >
    insert into pub_bpm_instance_note_people
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="instanceNoteId != null" >
        instance_note_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="finish != null" >
        finish,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="instanceNoteId != null" >
        #{instanceNoteId,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="finish != null" >
        #{finish,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.common.district.bpm.model.BpmInstanceNotePeople" >
    update pub_bpm_instance_note_people
    <set >
      <if test="instanceNoteId != null" >
        instance_note_id = #{instanceNoteId,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="finish != null" >
        finish = #{finish,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.common.district.bpm.model.BpmInstanceNotePeople" >
    update pub_bpm_instance_note_people
    set instance_note_id = #{instanceNoteId,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      finish = #{finish,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="batchInsert">
    insert into pub_bpm_instance_note_people (id, instance_note_id, user_name,
      user_id, finish)
    values
    <foreach collection="peopleList" separator="," item="people">
      (#{people.id,jdbcType=BIGINT}, #{people.instanceNoteId,jdbcType=BIGINT}, #{people.userName,jdbcType=VARCHAR},
      #{people.userId,jdbcType=VARCHAR}, #{people.finish,jdbcType=INTEGER})
    </foreach>
  </insert>
  <select id="getCurrentPeopleByNoteId" resultMap="BaseResultMap">
      SELECT id,user_id from pub_bpm_instance_note_people
      where finish=0 and instance_note_id = #{noteId}
  </select>
</mapper>