<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.common.district.bpm.dao.BpmTemplateConfigMapper" >
  <resultMap id="BaseResultMap" type="com.common.district.bpm.model.BpmTemplateConfig" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="template_id" property="templateId" jdbcType="BIGINT" />
    <result column="note_name" property="noteName" jdbcType="VARCHAR" />
    <result column="note_code" property="noteCode" jdbcType="VARCHAR" />
    <result column="note_sort" property="noteSort" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, template_id, note_name, note_code, note_sort, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pub_bpm_template_config
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pub_bpm_template_config
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.common.district.bpm.model.BpmTemplateConfig" >
    insert into pub_bpm_template_config (id, template_id, note_name, 
      note_code, note_sort, create_time
      )
    values (#{id,jdbcType=BIGINT}, #{templateId,jdbcType=BIGINT}, #{noteName,jdbcType=VARCHAR}, 
      #{noteCode,jdbcType=VARCHAR}, #{noteSort,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.common.district.bpm.model.BpmTemplateConfig" >
    insert into pub_bpm_template_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="templateId != null" >
        template_id,
      </if>
      <if test="noteName != null" >
        note_name,
      </if>
      <if test="noteCode != null" >
        note_code,
      </if>
      <if test="noteSort != null" >
        note_sort,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="templateId != null" >
        #{templateId,jdbcType=BIGINT},
      </if>
      <if test="noteName != null" >
        #{noteName,jdbcType=VARCHAR},
      </if>
      <if test="noteCode != null" >
        #{noteCode,jdbcType=VARCHAR},
      </if>
      <if test="noteSort != null" >
        #{noteSort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.common.district.bpm.model.BpmTemplateConfig" >
    update pub_bpm_template_config
    <set >
      <if test="templateId != null" >
        template_id = #{templateId,jdbcType=BIGINT},
      </if>
      <if test="noteName != null" >
        note_name = #{noteName,jdbcType=VARCHAR},
      </if>
      <if test="noteCode != null" >
        note_code = #{noteCode,jdbcType=VARCHAR},
      </if>
      <if test="noteSort != null" >
        note_sort = #{noteSort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.common.district.bpm.model.BpmTemplateConfig" >
    update pub_bpm_template_config
    set template_id = #{templateId,jdbcType=BIGINT},
      note_name = #{noteName,jdbcType=VARCHAR},
      note_code = #{noteCode,jdbcType=VARCHAR},
      note_sort = #{noteSort,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="getconfigByTemplateId" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM pub_bpm_template_config
    WHERE template_id = #{templateId}
  </select>
</mapper>