<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 	xmlns:task="http://www.springframework.org/schema/task"
 	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd 
	http://www.springframework.org/schema/task 
	http://www.springframework.org/schema/task/spring-task-4.0.xsd 
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<mvc:annotation-driven  />
	<!-- 自动扫描(自动注入) -->
	<context:component-scan base-package="com.common.district"/>
	<!--task注解使用-->
<!--	<task:annotation-driven/>
	<context:component-scan base-package="com.common.district.task"/>-->

	<mvc:resources mapping="/images/**" location="/images/" />
	<mvc:resources mapping="/css/**" location="/css/" />
	<mvc:resources mapping="/js/**" location="/js/" />

	<!--swagger-->
	<mvc:resources mapping="swagger-ui.html" location="classpath:/META-INF/resources/"/>
	<mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/"/>



	<!-- 自动扫描 标签 -->
	<bean name="springContextUtil" class="com.common.district.common.utils.SpringContextUtil" scope="singleton"></bean>
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">  
		<property name="messageConverters">  
	        <list>  
	               <ref bean="mappingJacksonHttpMessageConverter" />  
	        </list>  
	    </property>  
	</bean>  
	        
	<!--===============通用视图解析器 begin===============-->
	<!-- 视图解析器 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="order" value="0"></property>
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".html"></property>
	</bean>
	<!--===============通用视图解析器 end===============-->
	

	<bean id="mappingJacksonHttpMessageConverter"  
	    class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">  
	     <property name = "supportedMediaTypes">  
			  <list>  
			    <bean class="org.springframework.http.MediaType">  
			     <constructor-arg index="0" value="text"/>  
			     <constructor-arg index="1" value="plain"/>  
			     <constructor-arg index="2" value="UTF-8"/>  
			    </bean>  
			    <bean class="org.springframework.http.MediaType">  
			     <constructor-arg index="0" value="*"/>  
			     <constructor-arg index="1" value="*"/>  
			     <constructor-arg index="2" value="UTF-8"/>  
			    </bean>  
			    <bean class="org.springframework.http.MediaType">  
			     <constructor-arg index="0" value="text"/>  
			     <constructor-arg index="1" value="*"/>  
			     <constructor-arg index="2" value="UTF-8"/>  
			    </bean>  
			     <bean class="org.springframework.http.MediaType">  
			     <constructor-arg index="0" value="application"/>  
			     <constructor-arg index="1" value="json"/>  
			     <constructor-arg index="2" value="UTF-8"/>  
			    </bean>  
			  </list>  
		</property>  
	</bean>
	<!--  上传文件定义大小 -->
	<bean 
		id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="1024000000"></property>
		<property name="defaultEncoding" value="utf-8" /><!--属性：编码 -->
	</bean>
</beans>