<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.common.district.ad.dao.ContractCostDictsMapper" >
  <resultMap id="BaseResultMap" type="com.common.district.ad.model.ContractCostDicts" >
    <id column="cost_id" property="costId" jdbcType="BIGINT" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="cost_code" property="costCode" jdbcType="VARCHAR" />
    <result column="cost_name" property="costName" jdbcType="VARCHAR" />
    <result column="cost_type_id" property="costTypeId" jdbcType="INTEGER" />
    <result column="cost_type_name" property="costTypeName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="organ_id" property="organId" jdbcType="VARCHAR" />
    <result column="del" property="del" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    cost_id, parent_id, cost_code, cost_name, cost_type_id, cost_type_name, create_time, 
    update_time, organ_id, del
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pub_ad_contract_cost_dicts
    where cost_id = #{costId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pub_ad_contract_cost_dicts
    where cost_id = #{costId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.common.district.ad.model.ContractCostDicts" >
    insert into pub_ad_contract_cost_dicts (cost_id, parent_id, cost_code, 
      cost_name, cost_type_id, cost_type_name, 
      create_time, update_time, organ_id, 
      del)
    values (#{costId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, #{costCode,jdbcType=VARCHAR}, 
      #{costName,jdbcType=VARCHAR}, #{costTypeId,jdbcType=INTEGER}, #{costTypeName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{organId,jdbcType=VARCHAR},
      #{del,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.common.district.ad.model.ContractCostDicts" >
    insert into pub_ad_contract_cost_dicts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="costId != null" >
        cost_id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="costCode != null" >
        cost_code,
      </if>
      <if test="costName != null" >
        cost_name,
      </if>
      <if test="costTypeId != null" >
        cost_type_id,
      </if>
      <if test="costTypeName != null" >
        cost_type_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="organId != null" >
        organ_id,
      </if>
      <if test="del != null" >
        del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="costId != null" >
        #{costId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="costCode != null" >
        #{costCode,jdbcType=VARCHAR},
      </if>
      <if test="costName != null" >
        #{costName,jdbcType=VARCHAR},
      </if>
      <if test="costTypeId != null" >
        #{costTypeId,jdbcType=INTEGER},
      </if>
      <if test="costTypeName != null" >
        #{costTypeName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="organId != null" >
        #{organId,jdbcType=VARCHAR},
      </if>
      <if test="del != null" >
        #{del,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.common.district.ad.model.ContractCostDicts" >
    update pub_ad_contract_cost_dicts
    <set >
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="costCode != null" >
        cost_code = #{costCode,jdbcType=VARCHAR},
      </if>
      <if test="costName != null" >
        cost_name = #{costName,jdbcType=VARCHAR},
      </if>
      <if test="costTypeId != null" >
        cost_type_id = #{costTypeId,jdbcType=INTEGER},
      </if>
      <if test="costTypeName != null" >
        cost_type_name = #{costTypeName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="organId != null" >
        organ_id = #{organId,jdbcType=VARCHAR},
      </if>
      <if test="del != null" >
        del = #{del,jdbcType=INTEGER},
      </if>
    </set>
    where cost_id = #{costId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.common.district.ad.model.ContractCostDicts" >
    update pub_ad_contract_cost_dicts
    set parent_id = #{parentId,jdbcType=BIGINT},
      cost_code = #{costCode,jdbcType=VARCHAR},
      cost_name = #{costName,jdbcType=VARCHAR},
      cost_type_id = #{costTypeId,jdbcType=INTEGER},
      cost_type_name = #{costTypeName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      organ_id = #{organId,jdbcType=VARCHAR},
      del = #{del,jdbcType=INTEGER}
    where cost_id = #{costId,jdbcType=BIGINT}
  </update>
  <select id="getCostItemList" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from pub_ad_contract_cost_dicts
    where del = 0 and organ_id = #{organId,jdbcType=VARCHAR}
  </select>

</mapper>