<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.common.district.ad.dao.ContractSupAttachMapper" >
  <resultMap id="BaseResultMap" type="com.common.district.ad.model.ContractSupAttach" >
    <id column="cont_attach_id" property="contAttachId" jdbcType="BIGINT" />
    <result column="sup_id" property="supId" jdbcType="BIGINT" />
    <result column="cont_attach_name" property="contAttachName" jdbcType="VARCHAR" />
    <result column="cont_attach_link" property="contAttachLink" jdbcType="VARCHAR" />
    <result column="cont_attach_declare" property="contAttachDeclare" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    cont_attach_id, sup_id, cont_attach_name, cont_attach_link, cont_attach_declare, 
    create_date, update_time, is_del
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pub_ad_contract_sup_attach
    where cont_attach_id = #{contAttachId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pub_ad_contract_sup_attach
    where cont_attach_id = #{contAttachId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.common.district.ad.model.ContractSupAttach" >
    insert into pub_ad_contract_sup_attach (cont_attach_id, sup_id, cont_attach_name, 
      cont_attach_link, cont_attach_declare, create_date, 
      update_time, is_del)
    values (#{contAttachId,jdbcType=BIGINT}, #{supId,jdbcType=BIGINT}, #{contAttachName,jdbcType=VARCHAR}, 
      #{contAttachLink,jdbcType=VARCHAR}, #{contAttachDeclare,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{isDel,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.common.district.ad.model.ContractSupAttach" >
    insert into pub_ad_contract_sup_attach
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="contAttachId != null" >
        cont_attach_id,
      </if>
      <if test="supId != null" >
        sup_id,
      </if>
      <if test="contAttachName != null" >
        cont_attach_name,
      </if>
      <if test="contAttachLink != null" >
        cont_attach_link,
      </if>
      <if test="contAttachDeclare != null" >
        cont_attach_declare,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="contAttachId != null" >
        #{contAttachId,jdbcType=BIGINT},
      </if>
      <if test="supId != null" >
        #{supId,jdbcType=BIGINT},
      </if>
      <if test="contAttachName != null" >
        #{contAttachName,jdbcType=VARCHAR},
      </if>
      <if test="contAttachLink != null" >
        #{contAttachLink,jdbcType=VARCHAR},
      </if>
      <if test="contAttachDeclare != null" >
        #{contAttachDeclare,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.common.district.ad.model.ContractSupAttach" >
    update pub_ad_contract_sup_attach
    <set >
      <if test="supId != null" >
        sup_id = #{supId,jdbcType=BIGINT},
      </if>
      <if test="contAttachName != null" >
        cont_attach_name = #{contAttachName,jdbcType=VARCHAR},
      </if>
      <if test="contAttachLink != null" >
        cont_attach_link = #{contAttachLink,jdbcType=VARCHAR},
      </if>
      <if test="contAttachDeclare != null" >
        cont_attach_declare = #{contAttachDeclare,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
    </set>
    where cont_attach_id = #{contAttachId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.common.district.ad.model.ContractSupAttach" >
    update pub_ad_contract_sup_attach
    set sup_id = #{supId,jdbcType=BIGINT},
      cont_attach_name = #{contAttachName,jdbcType=VARCHAR},
      cont_attach_link = #{contAttachLink,jdbcType=VARCHAR},
      cont_attach_declare = #{contAttachDeclare,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=INTEGER}
    where cont_attach_id = #{contAttachId,jdbcType=BIGINT}
  </update>
</mapper>