<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.common.district.ad.dao.PenaltyApproveRelationMapper" >
  <resultMap id="BaseResultMap" type="com.common.district.ad.model.PenaltyApproveRelation" >
    <id column="relation_id" property="relationId" jdbcType="BIGINT" />
    <result column="penalty_id" property="penaltyId" jdbcType="BIGINT" />
    <result column="instance_id" property="instanceId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
    <result column="del_time" property="delTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    relation_id, penalty_id, instance_id, create_time, is_del, del_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pub_ad_penalty_approve_relation
    where relation_id = #{relationId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pub_ad_penalty_approve_relation
    where relation_id = #{relationId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.common.district.ad.model.PenaltyApproveRelation" >
    insert into pub_ad_penalty_approve_relation (relation_id, penalty_id, instance_id, 
      create_time, is_del, del_time
      )
    values (#{relationId,jdbcType=BIGINT}, #{penaltyId,jdbcType=BIGINT}, #{instanceId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{isDel,jdbcType=INTEGER}, #{delTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.common.district.ad.model.PenaltyApproveRelation" >
    insert into pub_ad_penalty_approve_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="relationId != null" >
        relation_id,
      </if>
      <if test="penaltyId != null" >
        penalty_id,
      </if>
      <if test="instanceId != null" >
        instance_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="delTime != null" >
        del_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="relationId != null" >
        #{relationId,jdbcType=BIGINT},
      </if>
      <if test="penaltyId != null" >
        #{penaltyId,jdbcType=BIGINT},
      </if>
      <if test="instanceId != null" >
        #{instanceId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="delTime != null" >
        #{delTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.common.district.ad.model.PenaltyApproveRelation" >
    update pub_ad_penalty_approve_relation
    <set >
      <if test="penaltyId != null" >
        penalty_id = #{penaltyId,jdbcType=BIGINT},
      </if>
      <if test="instanceId != null" >
        instance_id = #{instanceId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="delTime != null" >
        del_time = #{delTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where relation_id = #{relationId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.common.district.ad.model.PenaltyApproveRelation" >
    update pub_ad_penalty_approve_relation
    set penalty_id = #{penaltyId,jdbcType=BIGINT},
      instance_id = #{instanceId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=INTEGER},
      del_time = #{delTime,jdbcType=TIMESTAMP}
    where relation_id = #{relationId,jdbcType=BIGINT}
  </update>
</mapper>