<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.common.district.res.dao.BankMapper" >
  <resultMap id="BaseResultMap" type="com.common.district.res.model.Bank" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="urid" property="urid" jdbcType="VARCHAR" />
    <result column="bank_code" property="bankCode" jdbcType="VARCHAR" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="bank_short_name" property="bankShortName" jdbcType="VARCHAR" />
    <result column="activity_status" property="activityStatus" jdbcType="INTEGER" />
    <result column="tips" property="tips" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="index_order" property="indexOrder" jdbcType="INTEGER" />
    <result column="created_user_id" property="createdUserId" jdbcType="VARCHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="update_uer_id" property="updateUerId" jdbcType="VARCHAR" />
    <result column="update_user_name" property="updateUserName" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="organ_id" property="organId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, urid, bank_code, bank_name, bank_short_name, activity_status, tips, remark, index_order, 
    created_user_id, create_user_name, created_date, update_uer_id, update_user_name, 
    update_date, organ_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pub_res_bank
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pub_res_bank
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.common.district.res.model.Bank" >
    insert into pub_res_bank (id, urid, bank_code, 
      bank_name, bank_short_name, activity_status, 
      tips, remark, index_order, 
      created_user_id, create_user_name, created_date, 
      update_uer_id, update_user_name, update_date, 
      organ_id)
    values (#{id,jdbcType=BIGINT}, #{urid,jdbcType=VARCHAR}, #{bankCode,jdbcType=VARCHAR}, 
      #{bankName,jdbcType=VARCHAR}, #{bankShortName,jdbcType=VARCHAR}, #{activityStatus,jdbcType=INTEGER}, 
      #{tips,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{indexOrder,jdbcType=INTEGER}, 
      #{createdUserId,jdbcType=VARCHAR}, #{createUserName,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, 
      #{updateUerId,jdbcType=VARCHAR}, #{updateUserName,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{organId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.common.district.res.model.Bank" >
    insert into pub_res_bank
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="urid != null" >
        urid,
      </if>
      <if test="bankCode != null" >
        bank_code,
      </if>
      <if test="bankName != null" >
        bank_name,
      </if>
      <if test="bankShortName != null" >
        bank_short_name,
      </if>
      <if test="activityStatus != null" >
        activity_status,
      </if>
      <if test="tips != null" >
        tips,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="indexOrder != null" >
        index_order,
      </if>
      <if test="createdUserId != null" >
        created_user_id,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="updateUerId != null" >
        update_uer_id,
      </if>
      <if test="updateUserName != null" >
        update_user_name,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="organId != null" >
        organ_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="urid != null" >
        #{urid,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null" >
        #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankShortName != null" >
        #{bankShortName,jdbcType=VARCHAR},
      </if>
      <if test="activityStatus != null" >
        #{activityStatus,jdbcType=INTEGER},
      </if>
      <if test="tips != null" >
        #{tips,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="indexOrder != null" >
        #{indexOrder,jdbcType=INTEGER},
      </if>
      <if test="createdUserId != null" >
        #{createdUserId,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUerId != null" >
        #{updateUerId,jdbcType=VARCHAR},
      </if>
      <if test="updateUserName != null" >
        #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="organId != null" >
        #{organId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.common.district.res.model.Bank" >
    update pub_res_bank
    <set >
      <if test="urid != null" >
        urid = #{urid,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null" >
        bank_code = #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankShortName != null" >
        bank_short_name = #{bankShortName,jdbcType=VARCHAR},
      </if>
      <if test="activityStatus != null" >
        activity_status = #{activityStatus,jdbcType=INTEGER},
      </if>
      <if test="tips != null" >
        tips = #{tips,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="indexOrder != null" >
        index_order = #{indexOrder,jdbcType=INTEGER},
      </if>
      <if test="createdUserId != null" >
        created_user_id = #{createdUserId,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUerId != null" >
        update_uer_id = #{updateUerId,jdbcType=VARCHAR},
      </if>
      <if test="updateUserName != null" >
        update_user_name = #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="organId != null" >
        organ_id = #{organId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.common.district.res.model.Bank" >
    update pub_res_bank
    set urid = #{urid,jdbcType=VARCHAR},
      bank_code = #{bankCode,jdbcType=VARCHAR},
      bank_name = #{bankName,jdbcType=VARCHAR},
      bank_short_name = #{bankShortName,jdbcType=VARCHAR},
      activity_status = #{activityStatus,jdbcType=INTEGER},
      tips = #{tips,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      index_order = #{indexOrder,jdbcType=INTEGER},
      created_user_id = #{createdUserId,jdbcType=VARCHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      update_uer_id = #{updateUerId,jdbcType=VARCHAR},
      update_user_name = #{updateUserName,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      organ_id = #{organId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>