<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.common.district.res.dao.ResourceTypeMapper" >
  <resultMap id="BaseResultMap" type="com.common.district.res.model.ResourceType" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="resource_name" property="resourceName" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="resource_level" property="resourceLevel" jdbcType="INTEGER" />
    <result column="location_type_id" property="locationTypeId" jdbcType="BIGINT" />
    <result column="resource_remarks" property="resourceRemarks" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="organ_id" property="organId" jdbcType="VARCHAR" />
    <result column="del" property="del" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, resource_name, parent_id, resource_level, location_type_id, resource_remarks, 
    create_time, update_time, organ_id, del
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from pub_res_resource_type
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from pub_res_resource_type
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.common.district.res.model.ResourceType" >
    insert into pub_res_resource_type (id, resource_name, parent_id, 
      resource_level, location_type_id, resource_remarks, 
      create_time, update_time, organ_id, 
      del)
    values (#{id,jdbcType=VARCHAR}, #{resourceName,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, 
      #{resourceLevel,jdbcType=INTEGER}, #{locationTypeId,jdbcType=BIGINT}, #{resourceRemarks,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{organId,jdbcType=VARCHAR}, 
      #{del,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.common.district.res.model.ResourceType" >
    insert into pub_res_resource_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="resourceName != null" >
        resource_name,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="resourceLevel != null" >
        resource_level,
      </if>
      <if test="locationTypeId != null" >
        location_type_id,
      </if>
      <if test="resourceRemarks != null" >
        resource_remarks,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="organId != null" >
        organ_id,
      </if>
      <if test="del != null" >
        del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="resourceName != null" >
        #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="resourceLevel != null" >
        #{resourceLevel,jdbcType=INTEGER},
      </if>
      <if test="locationTypeId != null" >
        #{locationTypeId,jdbcType=BIGINT},
      </if>
      <if test="resourceRemarks != null" >
        #{resourceRemarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="organId != null" >
        #{organId,jdbcType=VARCHAR},
      </if>
      <if test="del != null" >
        #{del,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.common.district.res.model.ResourceType" >
    update pub_res_resource_type
    <set >
      <if test="resourceName != null" >
        resource_name = #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="resourceLevel != null" >
        resource_level = #{resourceLevel,jdbcType=INTEGER},
      </if>
      <if test="locationTypeId != null" >
        location_type_id = #{locationTypeId,jdbcType=BIGINT},
      </if>
      <if test="resourceRemarks != null" >
        resource_remarks = #{resourceRemarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="organId != null" >
        organ_id = #{organId,jdbcType=VARCHAR},
      </if>
      <if test="del != null" >
        del = #{del,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.common.district.res.model.ResourceType" >
    update pub_res_resource_type
    set resource_name = #{resourceName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      resource_level = #{resourceLevel,jdbcType=INTEGER},
      location_type_id = #{locationTypeId,jdbcType=BIGINT},
      resource_remarks = #{resourceRemarks,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      organ_id = #{organId,jdbcType=VARCHAR},
      del = #{del,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectResourceTypeByLevel" resultMap="BaseResultMap" >
    select
      <include refid="Base_Column_List" />
    from pub_res_resource_type
    where
      organ_id = #{organId,jdbcType=VARCHAR}
      AND resource_level=#{type,jdbcType=INTEGER}
      AND del=0
      AND parent_id = '0'
  </select>

  <select id="selectResourceTypeByParentId" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from pub_res_resource_type
    where
    organ_id = #{organId,jdbcType=VARCHAR}
    AND parent_id=#{parentId,jdbcType=VARCHAR}
    AND del=0
  </select>

  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from pub_res_resource_type
    where resource_name = #{name,jdbcType=VARCHAR}
    AND del=0
    AND organ_id=#{organId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByParentId" >
    delete from pub_res_resource_type
    where organ_id = #{organId,jdbcType=VARCHAR}
    AND parent_id = #{parentId,jdbcType=VARCHAR}
    AND resource_level = #{level,jdbcType=INTEGER}
  </delete>

  <select id="getResourceType" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from pub_res_resource_type
    where
    organ_id = #{organId,jdbcType=VARCHAR}
    AND parent_id=#{parentId,jdbcType=VARCHAR}
    AND del=0
  </select>

  <select id="selectSecondResByName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from pub_res_resource_type
    where resource_name = #{name,jdbcType=VARCHAR}
    AND del=0
    AND organ_id=#{organId,jdbcType=VARCHAR}
    AND parent_id = #{parentId,jdbcType=VARCHAR}
  </select>

  <select id="selectResourceNameById" resultType="string" parameterType="string">
    select resource_name
    from pub_res_resource_type
    where id = #{id,jdbcType=VARCHAR}
    AND del=0
  </select>
</mapper>